# ----------------------------
# Rust
# ----------------------------
/target/
**/target/

# Cargo lock (для бібліотек можна ігнорити, для бінарних — залишати)
# Cargo.lock

# Backup files
**/*.rs.bk

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Temp files
# ----------------------------
*.tmp
*.swp

# ----------------------------
# Environment files
# ----------------------------
.env